p{
    color: red;
    text-align: center;

}
h1{
    color: blueviolet;
    text-align: center;
}
div{
    height: 50px;
    width: 50px;
    margin: 20px;
    color: tomato;
    text-align: center,right;
    background-color: lightgreen;
}